{#"""
car_wash.html

- 사용자가 대기자 수와 예상 대기시간을 확인한 후 예약
- 대기자 수와 예상 대기시간은 서버에서 보내야 함

2024-11-17
이민수
"""#}

{% extends "base.html" %}

{% block content %}

  <h2>세차장 {{ car_wash_id }} 예약</h2>

  <div>
    <h3>대기자 수: {{ waiting_count }}명</h3>
    <h3>예상 대기시간: {{ wait_time }}분 </h3>
  </div>

  <form action="/reserve_car_wash" method="POST">
    <input type="hidden" name="car_wash_id" value="{{ car_wash_id }}">
    <button type="submit">예약하기</button>
  </form>

{# 예약 결과 출력 #}
  {% if reservation_status %}
  <div>
    <p>
      {{ reservation_status }}
    </p>
  </div>
  {% endif %}

{% endblock %}
