{% extends "base.html" %}
{% block content %}
  <section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="h4 fw-bolder">세차장 1</h2>
{#          <p>abcd</p>#}<br>
          <a class="text-decoration-none" href="/car_wash_reservation/1">
            이동하기
          </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="h4 fw-bolder">세차장 2</h2>
{#          <p>bcde</p>#}<br>
          <a class="text-decoration-none" href="/car_wash_reservation/2">
            이동하기
          </a>
        </div>
        <div class="col-lg-4">
          <h2 class="h4 fw-bolder">세차장 3</h2>
{#          <p>efgh</p>#}<br>
          <a class="text-decoration-none" href="/car_wash_reservation/3">
            이동하기
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
