<!--1. 홈화면-->
<!--    home.html-->
<!--    - 세차장 선택: 세차장 목록과 현재 대기자 수 표시-->
<!--    - 예약 확인: 예약된 세차장과 대기시간 표시-->

<!--2. 예약화면-->
<!--   - 선택한 세차장 창: 초기 화면에서 원하는 세차장 클릭 후 이동-->
<!--   - 예상 대기 시간 안내: 실시간 대기자와 예상 대기시간 제공-->
<!--   - 갱신 버튼: 선택한 세차장 창 상단에 새로 고침 표시 누르면 대기자 수와 대기 시간 갱신-->
<!--   - 예약 버튼: 예약이 완료되었다는 문구와 예상 대기시간 안내-->

{% extends "base.html" %}
{% block content %}

{#
사용자가 세차장을 선택하고, 대기자 수와 예상 대기시간을 확인한 후 예약해야함
그러니 일단 세차장으로 이동이 먼저인 것 같다.
#}

  <h2>세차장1 {{ carwash_id }}</h2>
  <table>
    <thead>
    <tr>
      <th>예약자 이름</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
        <td>{{ reservation }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {#  id, 예약시간만 보내고 나머진 조회해서 사용  #}
  <div>
    <form action="{{ url_for('reservation_complete') }}" method="post">
      <label>
        <input type="text" name="carwash_id" value="">
      </label>
      <input type="hidden" name="reservation_date" id=
              "reservation_date" required>
      <input type="hidden" name="reservation_time" id=
              reservation_time" required>
      <button type="submit">예약하기</button>
    </form>
  </div>
  <br>

  <h2>세차장2 {{ carwash_id }}</h2>
  <table>
    <thead>
    <tr>
      <th>예약자 이름</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
        <td>{{ reservation }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div>
    <form action="{{ url_for('reservation_complete') }}" method="post">
      <label>
        <input type="text" name="carwash_id" value="">
      </label>
      <input type="hidden" name="reservation_date" id=
              "reservation_date" required>
      <input type="hidden" name="reservation_time" id=
              reservation_time" required>
      <button type="submit">예약하기</button>
    </form>
  </div>
  <br>

  <h2>세차장3 {{ carwash_id }}</h2>
  <table>
    <thead>
    <tr>
      <th>예약자 이름</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
        <td>{{ reservation }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div>
    <form action="{{ url_for('reservation_complete') }}" method="post">
      <label>
        <input type="text" name="carwash_id" value="">
      </label>
      <input type="hidden" name="reservation_date" id=
              "reservation_date" required>
      <input type="hidden" name="reservation_time" id=
              reservation_time" required>
      <button type="submit">예약하기</button>
    </form>
  </div>
  <br>

{#   새로만들어야 함  #}
{#  <script>#}
{#      function calculateTime() {#}
{#          const reservation_date = new Date().toISOString().split('T')[0];#}
{#          const reservation_time = new Date().toISOString().split('T')[1].substring(0, 5);#}
{##}
{#          document.getElementById('reservation_date').value = reservation_date;#}
{#          document.getElementById('reservation_time').value = reservation_time;#}
{#      }#}
{##}
{#  </script>#}


{% endblock %}